BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty

SortIncludes: true
SpaceBeforeParens: ControlStatements